body {
    font-family: 'Jura', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 100;
    font-size: 12px;
}
h1 {
    font-family: 'Jura', sans-serif;
}
.control {
    margin-bottom: 20px;
}
.map-small {
    height: 265px;
}
.fullwidth {
    width: 100%;
}
ul {
    list-style: none;
    -webkit-padding-start: 0; /* otherwise there will be padding on the left*/
}
section {
    padding: 100px 0 200px ;
}
.mainVis {
    margin-top: 10px;
}
circle {
    cursor: default;
}

#mapspolygon, #mapsdot {
    /*position: absolute;*/
    /*height: 300px;*/
    /*width: 100%;*/
    background-color: #ddd;
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
}
#nodeVis, #parallelVis {
    height: 300px;
    border-color: #ddd;
    border-width: 2px;
    border-style: dashed;
}
#pic {
    max-width:100%;
    max-height:100%;
}
.district{
    stroke: #ddd;
    fill: #fff;
    fill-opacity: 0.6;
}
.district:hover{
    fill: #ff0000;
    fill-opacity: 0.2;
}

select {
    border: none;
    border-bottom: solid;
}

/* nodeVis */
.link {
    stroke: #999;
    stroke-opacity: .6;
}

/* parallelVis */
.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: #444;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.highlight {
    fill: #444;
}

circle:not(.highlight) {
    fill: #aaa;
}

/*.................................................................j carousel*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width: 160px;
    height: 120px;
}

/*........................................................j carousel control*/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0%;
    /*width: 30px;*/
    /*height: 30px;*/
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px #666;
    font-size: 50px;
    font-weight: bold;
}

/* do not underline*/
.jcarousel-control-prev:focus,
.jcarousel-control-next:focus {
    text-decoration: none;
    color: #fff;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    text-decoration: none;
    color: #aaa;
}


.jcarousel-control-prev {
    left: -5px;
}

.jcarousel-control-next {
    right: -5px;
}